<div class="mat-elevation-z4">
    <table mat-table [dataSource]="products">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th class="table-content" mat-header-cell *matHeaderCellDef>Id</th>
        <td class="table-content" mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th class="table-content" mat-header-cell *matHeaderCellDef>Nome</th>
        <td class="table-content" mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      
      <ng-container matColumnDef="price">
        <th class="table-content" mat-header-cell *matHeaderCellDef>Preço</th>
        <td class="table-content" mat-cell *matCellDef="let row">R$ {{row.price}}</td>
      </ng-container>
      
      <ng-container matColumnDef="action">
        <th class="table-content" mat-header-cell *matHeaderCellDef>Ações</th>
        <td class="table-content" mat-cell *matCellDef="let row">
            <a routerLink="/products/update/{{row.id}}" class="edit">
                <em class="material-icons">
                    edit
                </em>
            </a>
            <a routerLink="/products/delete/{{row.id}}" class="delete">
                <em class="material-icons">
                    delete
                </em>
            </a>

        </td>
      </ng-container>

      <tr class="table-content" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="table-content" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
  </div>
  