
    <mat-sidenav-container class="container">
        <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedBottomGap="64">
            <mat-nav-list>
                <a mat-list-item>
                    <em class="material-icons">
                        home
                    </em>
                    Inicio
                </a>
                <a mat-list-item>
                    <em class="material-icons">
                        storefront
                    </em>
                    Produtos
                </a>
            </mat-nav-list>
        </mat-sidenav>       
    </mat-sidenav-container>

